src/.vs/
src/.vs/**

.vs/**
.vs

tmp
tmp/**
*.pspp

tmpPaths 
tmpPaths/**

tmpPath 
tmpPath/**

libs 
libs/**

bin/ 
bin/** 

obj/ 
obj/**  

*.sln 
*.user

test/bin**
test/bin 

libs
libs/**
.vs
.vs/**
src/bin
src/bin/**
src/obj
src/obj/**
src/.vs
src/.vs/**


test/obj/**
test/obj